@import '../../commonStyles/variables.scss';

.title {
    margin-top: 30px;
}

.tagsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search {
    width: 200px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.li {
    background-color: $light-green;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: $title-size;

    &:hover {
        border: 1px solid black;
        cursor: pointer;
    }
}

.tags, .pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.active {
    background-color: $green;
}