@import '../../commonStyles/variables.scss';

.error {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $title-size;
    font-weight: 700;
    gap: 5px;
}