.cardWrapper {
    width: 100vw;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.AppWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

