$navy: #264653;
$green: #2A9D8F;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;
$light-green: #64d1c4;
$white: #ffff;
$grey: #b1b3b4;

$text-color: rgb(24, 19, 19);

$title-font: "Arial Rounded MT Bold", sans-serif;
$text-font: "Raleway", sans-serif;

$title-size: 18px;
$text-size: 16px