@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

$navy: #264653;
$green: #58A9A5;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;
$light-green: #CCF0E6;
$white: #ffff;
$grey: #d1d3d4;

$text-color: #404242;

$text-font: 'Mulish', sans-serif;

$title-size: 20px;
$text-size: 18px