.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    max-height: 50px;
    align-items: center;
}

input {
    border-radius: 10px;
    border: 1px solid black;

    &:focus {
        box-shadow: inset 2px 2px 4px rgba(154, 147, 140, 0.5), 1px 1px 3px rgba(255, 255, 255, 1);
    }
}

button:hover {
    box-shadow: 10px 5px 5px rgb(78, 72, 72);
}

button:active { 
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    transform: translatey(3px);
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    max-height: 50px;
    align-items: center;
}

.error {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}