@import '../../commonStyles/variables.scss';

.header {
    display: flex; 
    flex-direction: row;
    padding: 1rem 2rem;
    height: 20px;
    justify-content: flex-start;
    gap: 10px;
    font-family: $text-font;
    font-size: $title-size;
    font-weight: 700;

    a:hover {
        transform: scale(1.1);
    }
}

.none {
    display: none;
}

.close {
    width: 30px;
    height: 30px;
    margin-right: 280px;
}


