@import '../../commonStyles/variables.scss';

.header {
    display: flex; 
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px 10px; 
    justify-content: flex-end;
    gap: 10px;
    font-family: $text-font;
    font-size: $title-size;
    font-weight: 700;
    
    a:hover {
        text-decoration: underline;
        color: $green;
    }
}

.navbar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $light-green;
}

.nav {
    width: 280px;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
}




