@import '../../commonStyles/variables.scss';

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.navbarUl {
  padding: 25px;
  position: absolute;
  z-index: 4;
  top: 100px;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}