@import '../../../commonStyles/variables.scss';

.input {
    margin: 8px;
    height: 30px;
    max-width: 150px;

    &:focus {
        box-shadow: inset 2px 2px 4px rgba(154, 147, 140, 0.5), 1px 1px 3px rgba(255, 255, 255, 1);
    }
}

.btn {
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    color: $text-color;
    text-align: center;
    cursor: pointer;

    &:hover {
        box-shadow: 10px 5px 5px rgb(78, 72, 72);
    }

    &:active { 
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
        transform: translatey(3px);
    }
}

.btnOrange {
    background-color: $orange;
}

.btnGreen {
    background-color: $green;
}

.btnLightGreen {
    background-color: $light-green;
}

.btnYellow {
    background-color: $yellow;
}

ol {
    margin: 0;
}

.li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
    align-items: center;
}

.word {
    border: 1px solid black;
    min-width: 150px;
    min-height: 30px;
    text-align: start;
    padding: 0px 0px 0px 7px;
    line-height: 30px;
}

