@import '../../commonStyles/variables.scss';

.footer {
   display: flex; 
   flex-direction: row;
   padding: 1rem 6rem;
   height: 20px;
   justify-content: flex-start;
   gap: 20px;
   background-color: $green;
   font-family: $title-font;
   font-size: $title-size;
   font-weight: 700;
   position: relative;

   a:hover {
        transform: scale(1.1);
   }
}

.img{
    width: auto;
    height: 50px;
    position: absolute;
    top: 2%;
    left: 1%;
}